<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="EndPointGetDataPMO" value="http://tst-soa-001.ons.org.br:10010/v1/semanaspmo"/>-->
    <add key="EndPointGetDataPMO" value="http://srv17520:10010/v1/semanaspmo" />
    <add key="Ons.Crypto" value="velho" />
    <add key="pdpPassword" value="45916EFDE7983B9DCB031AA40888B3069EA87EDA31F80D78" />
    <add key="rpdpPassword" value="45916EFDE7983B9DCB031AA40888B3069EA87EDA31F80D78" />
    <add key="pdp" value="database=pdp; server=10.65.215.6:5203; userid=eduardob; password={0};Interrupt=0;" />
    <add key="rpdp" value="database=rpdp; server=10.65.215.6:5203; userid=eduardob; password={0};Interrupt=0;" />
    <!--
    <add key="dbConnectionType" value="IBM.Data.DB2.DB2Connection, IBM.Data.DB2, Version=9.0.0.2, Culture=neutral, PublicKeyToken=7c307b91aa13d208" />
    <add key="dbDataAdapterType" value="IBM.Data.DB2.DB2DataAdapter, IBM.Data.DB2, Version=9.0.0.2, Culture=neutral, PublicKeyToken=7c307b91aa13d208" />
    -->
    <add key="dbConnectionType" value="IBM.Data.Informix.IfxConnection, IBM.Data.Informix, Version=9.0.0.2, Culture=neutral, PublicKeyToken=7c307b91aa13d208" />
    <add key="dbDataAdapterType" value="IBM.Data.Informix.IfxDataAdapter, IBM.Data.Informix, Version=9.0.0.2, Culture=neutral, PublicKeyToken=7c307b91aa13d208" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- Esta seção define a configuração de log para My.Application.Log-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Descomente a seção abaixo para escrever um Evento de Log da Aplicação -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Descomente a seção abaixo e substitua APPLICATION_NAME pelo nome do seu aplicativo para escrever no Log de Eventos do Aplicativo -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.14.0" newVersion="2.0.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>