<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Site.master.vb" Inherits="pdpw.Site" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">

    </asp:ContentPlaceHolder>
     <script src="<%=System.Configuration.ConfigurationManager.AppSettings.Get("CDNNavegacaoGlobal") + "NavegacaoGlobal.js"%>"></script>
    

</head>
<body bgColor="#ffffff" leftMargin="0" topMargin="0"> 
    
    <navegacao-global id="teste1" CDNBarraGlobal="<%=System.Configuration.ConfigurationManager.AppSettings.Get("CDNNavegacaoGlobal")%>" itens='<asp:Literal ID="Itens" runat="server"></asp:Literal>'> </navegacao-global>
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">

        </asp:ContentPlaceHolder>
    </div>
</body>
</html>
