A  
{
 	color : #000000;
	text-decoration : none;
}
a.01 
{
 	color : #000000;
	text-decoration : none;
}
 a.01:hover 
{
	color : #000000;
	text-decoration : none;
}
#SWDiv1 
{
	position : relative;
	height : 0px;
	left : 5px;
	top : 0px;
}
#SWDiv2 
{
	position : absolute;
	left : 0px;
	top : 0px;
	width : 245px;
	height : 50px;
	overflow : hidden;
	clip : rect(0,245,50,0);
}
#SCDiv3 
{
	position : absolute;
	left : 0px;
	top : 0px;
	width : 245px;
	height : 50px;
	z-index : 1;
}
A
{
	text-decoration: none;
} 
A:link
{
	color:#666666;
}
A:visited
{
	color:#666666;
} 
A:hover 
{  
	color: #000000; 
}
.texto
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.texto_bold
{
    FONT-WEIGHT: bold;
	FONT-STYLE: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.texto_navega
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.texto_caminho_preto
{
    FONT-WEIGHT: bold;
	FONT-STYLE: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.texto_caminho_cinza
{
    FONT-WEIGHT: bold;
	FONT-STYLE: normal;
    FONT-SIZE: 8pt;
    COLOR: #999999;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.texto_caminho_verde
{
    FONT-WEIGHT: bold;
	FONT-STYLE: normal;
    FONT-SIZE: 8pt;
    COLOR: #99cc00;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.texto_caminho_vermelho
{
    FONT-WEIGHT: bold;
	FONT-STYLE: normal;
    FONT-SIZE: 8pt;
    COLOR: #FF0000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tit_submenu
{
    FONT-WEIGHT: bold;
	FONT-STYLE: normal;
    FONT-SIZE: 11pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tit_submenu2
{
    FONT-WEIGHT: bold;
	FONT-STYLE: normal;
    FONT-SIZE: 9pt;
    COLOR: #C0C0C0;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.formulario
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BORDER-LEFT-COLOR: #000000;
    BORDER-BOTTOM-COLOR: #FFFFFF;
    COLOR: #000000;
    BORDER-TOP-COLOR: #99cc00;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #c0c0c0;
    BORDER-RIGHT-COLOR: #FFFFFF; 
	border-color: #FFFFFF;
	black: black
}
.formulario_texto
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.formulario_texto_bold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}

BODY {
			scrollbar-3d-light-color : #B3B3B3;
			scrollbar-arrow-color : #9F9E9E;
			scrollbar-base-color : #E5E5E5;
			scrollbar-dark-shadow-color : #9F9E9E;
			scrollbar-face-color : #E5E5E5;
			scrollbar-highlight-color : #FFFFFF;
			scrollbar-shadow-color : #B3B3B3;
}
.texto_navegamenu { FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif 
}

.modulo
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}

A_modulo:
{
	text-decoration: none;
} 
A_modulo:link
{
	color:#666666;
}
A_modulo:visited
{
	color:#666666;
} 
A_modulo:hover 
{  
	text-decoration: underline; 
	color: #000000; 
}

.direita
{
	text-align:right;
	font-style:normal;
	font-size:8pt;
	font-family:Arial, Helvetica, sans-serif;
}
.texto_desabilitado
{
    FONT-WEIGHT: bold;
	FONT-STYLE: normal;
    FONT-SIZE: 8pt;
    COLOR: gray;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}	
.Text_underline {
	text-decoration: underline;
}

/* Bloqueia Header no Gridview */
.HeaderFreez {
	position:relative ;
	top:expression(this.offsetParent.scrollTop);
	z-index: 108;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}
