<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
    <section name="POPProvider" type="ons.common.providers.POPConfigurationSection, ons.common.providers" />
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <POPProvider enabled="true" defaultProvider="POPProvider">
    <providers>
      <add name="POPProvider" type="ProxyProviders.POPServiceProvider, ProxyProviders, Culture=neutral, PublicKeyToken=a91579813ad82d82" serviceUri="net.tcp://popservicedsv.ons.org.br/AuthorizationServices/POPService.svc/v1/nettcpsign" applicationName="PDP" applicationCacheTimeout="86400" userCacheTimeout="600" domain="ons.org.br" username="_servicepopteste" password="76x$ixWpMF33" />
    </providers>
  </POPProvider>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.8" debug="true" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <xhtmlConformance mode="Legacy" />
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
    <sessionState timeout="60" />
    <httpRuntime maxQueryStringLength="2097151" maxRequestLength="50000000" executionTimeout="480" />
    <machineKey decryption="AES" compatibilityMode="Framework20SP2" decryptionKey="A851AFC18341ABDA7B0A2825DD3305882A858C87C2B00677" validation="SHA1" validationKey="5FDB53178BBE78790FDA156F9FF661AA202752DC8156CD4204E4C3E53C4A3FA2417747AE1ABBD56F2BC09B5F71B2AA260B8FC4C06C98CDA17AA5902926F35DD1" />
    <authentication mode="Forms">
      <forms loginUrl="https://popdsv.ons.org.br/ons.pop.federation/" enableCrossAppRedirects="true" ticketCompatibilityMode="Framework20" defaultUrl="default.aspx" name=".ONSAUTH_DSV" timeout="60" protection="All" path="/" slidingExpiration="true" cookieless="UseCookies" domain=".ons.org.br" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />
    <staticContent>
      <remove fileExtension=".pdp" />
      <mimeMap fileExtension=".pdp" mimeType="text/plain" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2097151" />
      </requestFiltering>
    </security>
        
        <defaultDocument>
            <files>
                <add value="frmCnsEnvioEmp.aspx" />
            </files>
        </defaultDocument>

  </system.webServer>
  <appSettings>
    <add key="Ons.Crypto" value="velho" />
    <add key="CDNNavegacaoGlobal" value="https://dsvportalrelacionamento.ons.org.br/sites/cdn/Cdndsv/NavegacaoGlobal/" />
    <!--
    <add key="intunicaPassword" value="45916EFDE7983B9DCB031AA40888B3069EA87EDA31F80D78" />
    <add key="intunica" value="database=intunica;Client Locale=pt_br.CP1252;Database Locale=pt_br.CP1252;server=ifx_des_tcp_01;host=10.25.231.12;uid=eduardob;password={0};protocol=onsoctcp;service=5200;Pooling=false" />


    <add key="pdpPassword" value="45916EFDE7983B9DCB031AA40888B3069EA87EDA31F80D78" />
    <add key="pdp" value="database=pdp;Client Locale=pt_br.CP1252;Database Locale=pt_br.CP1252;server=ifx_des_tcp_01;host=10.25.231.12;uid=eduardob;password={0};protocol=onsoctcp;service=5200;Pooling=false" />

    <add key="rpdpPassword" value="45916EFDE7983B9DCB031AA40888B3069EA87EDA31F80D78" />
    <add key="rpdp" value="database=rpdp;Client Locale=pt_br.CP1252;Database Locale=pt_br.CP1252;server=ifx_des_tcp_01;host=10.25.231.12;uid=eduardob;password={0};protocol=onsoctcp;service=5200;Pooling=false" />

    <add key="dbConnectionType" value="IBM.Data.Informix.IfxConnection, IBM.Data.Informix, Version=3.0.0.2, Culture=neutral, PublicKeyToken=7c307b91aa13d208" />
    <add key="dbDataAdapterType" value="IBM.Data.Informix.IfxDataAdapter, IBM.Data.Informix, Version=3.0.0.2, Culture=neutral, PublicKeyToken=7c307b91aa13d208" />
    -->
	<add key="pdpSQL" value="Server=TST-SQL2019-07;Database=PDP;User Id=usr_pdp;Password=123456;MultipleActiveResultSets=true;Connect Timeout=1200;" />
	  
	<add key="intunicaPassword" value="45916EFDE7983B9DCB031AA40888B3069EA87EDA31F80D78" />
    <add key="intunica" value="database=intunica; server=10.65.215.6:5203; userid=dintunica; password={0};" />
    <add key="pdpPassword" value="45916EFDE7983B9DCB031AA40888B3069EA87EDA31F80D78" />
    <add key="pdp_" value="database=pdp; server=10.65.215.6:5203; userid=eduardob; password={0};Interrupt=0;" />
    <!--add key="pdpPassword" value="6EDF56EEEFFEEAB5CCD0698E3294EC97C219347BBFDC819E" />
    <add key="pdp" value="database=pdp; server=10.25.231.2:4103; userid=jmap; password={0};Interrupt=0;" / -->
    <add key="rpdpPassword" value="381894241E946F5FA119233D56F0CDB2DA022C387BBCB8B2" />
    <add key="rpdp_" value="database=rpdp; server=10.65.215.6:5203; userid=eduardob; password={0};" />
    <add key="dbConnectionType" value="IBM.Data.Informix.IfxConnection, IBM.Data.Informix, Version=9.0.0.2, Culture=neutral, PublicKeyToken=7c307b91aa13d208" />
    <add key="dbDataAdapterType" value="IBM.Data.Informix.IfxDataAdapter, IBM.Data.Informix, Version=9.0.0.2, Culture=neutral, PublicKeyToken=7c307b91aa13d208" />
    <add key="DataSourceBDT" value="bd_tecn" />
    <!--Incluído para a demanda 19863 - ONS precisa verificar permissão para o userid/senha-->
    <add key="bdtecnPassword" value="45916EFDE7983B9DCB031AA40888B3069EA87EDA31F80D78" />
    <add key="bdtecn" value="Database=bd_tecn;User ID=eduardob;Password=teste123;Server=10.65.215.61:5303;Max Pool Size=4;Persist Security Info=True;Interrupt=0;" />
    <!--FIM DA INCLUSÃO PARA A DEMANDA 19863-->
    <add key="arquivoEnvioDeDados" value="D:\PDPW\EnvioDeDados\" />
    <add key="EndPointGetDataPMO" value="http://hom-soa-01.ons.org.br:10010/v1/semanaspmo" />
    <add key="PathOfertaReducaoSemanal" value="C:\Temp\" />
    <add key="PathUsinaAutorizada" value="\\prd-aps-00\PDPIU\CPSA_RRO\UsinasAutorizadas.txt" />
    <add key="PathArquivosGerados" value="D:\TEMPAPP\PDPW" />
    <!-- Demanda 26260 -->
    <add key="EmailGrupoONS" value="victor.araujo@ons.org.br" />
    <add key="EmailUserName" value="pdp@ons.org.br" />
    <add key="EmailPort" value="25" />
    <add key="EmailHost" value="ons-smtp.ons.org.br" />
    <!-- Demanda 26260 -->
    <add key="urlbase" value="http://local.ons.org.br/pdpw-pop" />
    <add key="cacheDataPDP" value="360"/>
  </appSettings>

	<log4net>
		<logger name="PDPW">
			<priority value="ALL" />
			
		</logger>
		<appender name="ElasticSearchAppender" type="log4stash.ElasticSearchAppender, log4stash">
			<Server>10.66.5.60</Server>
			<Port>9200</Port>
			<IndexName>log_index</IndexName>
			<IndexType>LogEvent</IndexType>
			<Bulksize>20</Bulksize>
			<AuthenticationMethod>
				<Basic>
					<Username>app_logger</Username>
					<Password>app_logger_tst</Password>
				</Basic>
			</AuthenticationMethod>
			<ElasticFilters>
				<Add>
					<Key>Ambiente</Key>
					<Value>Desenv</Value>
				</Add>
				<Add>
					<Key>Aplicacao</Key>
					<Value>PDPW</Value>
				</Add>
				<Filter type="ONS.Core.Appenders.MensagemAppenderFilter, ONS.Core.Appenders">
					<Campo>Message</Campo>
					<Separador>|</Separador>
				</Filter>
			</ElasticFilters>
		</appender>
		<appender name="AsyncRollingFileAppender" type="ONS.Core.Appenders.AsyncAppender, ONS.Core.Appenders">
			<Header value="X-Forwarded-For|SCRIPT_NAME|HTTP_HOST|POP-Header-Executor|POP-Header-App|RequestID" />
			<appender-ref ref="NetConsole" />
			<appender-ref ref="NetFileAppender" />
			<appender-ref ref="ElasticSearchAppender" />
		</appender>
		<appender name="NetFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="D:\LogsApp\PDPW\pdpw.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="20" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock, log4net" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date|[%-5level]|[%thread]|%message%newline" />
			</layout>
		</appender>
		<appender name="NetConsole" type="log4net.Appender.TraceAppender, log4net">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date|[%-5level]|[%thread]|%message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="AsyncRollingFileAppender" />
			<appender-ref ref="ElasticSearchAppender" />
		</root>
	</log4net>	
	
  <!--<log4net>
    --><!-- Log4Net Appender Para Erro --><!--
    <logger name="PDPW">
      <priority value="ALL" />
      <appender-ref ref="FileAppenderErro" />
    </logger>
    <appender name="FileAppenderErro" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\LogsApp\PDPW\pdpw.log" />
      <param name="AppendToFile" value="true" />
      <param name="DatePattern" value="yyyy-MM-dd" />
      <param name="maxSizeRollBackups" value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}]- %message%newline" />
      </layout>
    </appender>
  </log4net>-->
	
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DadosSAGICSoap" />
        <binding name="DadosSAGICSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tst-git-081.ons.org.br/wsCargaHoraria/DadosSAGIC.asmx" binding="basicHttpBinding" bindingConfiguration="DadosSAGICSoap" contract="DadosSAGICServiceReference.DadosSAGICSoap" name="DadosSAGICSoap" />
      <endpoint address="http://tst-git-081.ons.org.br/wsCargaHoraria/DadosSAGIC.asmx" binding="basicHttpBinding" bindingConfiguration="DadosSAGICSoap1" contract="DadosSAGICServiceReference.DadosSAGICSoap" name="DadosSAGICSoap1" />
    </client>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.14.0" newVersion="2.0.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: {2D032283-DECE-49E0-BB3E-D22D8358C6AF}-->